@tailwind base;
@tailwind components;
@tailwind utilities;


.h-screen{
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-gray-100 {
    background-color: #f7fafc;
}   

.rounded {
    border-radius: 0.25rem;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
